<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NouhinLite</title>
  <!-- Load required Bootstrap and BootstrapVue CSS -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- Load polyfills to support older browsers -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"     crossorigin="anonymous"></script>

  <!-- Load Vue followed by BootstrapVue -->
  <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <!-- Load the following for BootstrapVueIcons support -->
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <style>
   .modal-mask {
     position: fixed;
     z-index: 9998;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, .5);
     display: table;
     transition: opacity .3s ease;
   }

   .modal-wrapper {
     display: table-cell;
     vertical-align: middle;
   }
  </style>
 </head>

<body>

<div class="container-fluid">
   <br />
   <h3 align="center">納品書作成</h3>
   <br />
</div>


<!---------納品書ヘッダー------>
<div class="container-fluid" id="crudApp">
 <template>

 <div class="overflow-auto" >
    <b-pagination
      	     v-model="currentPage"
	     :total-rows = "rows"
	     :per-page="perPage"
	     aria-controls="htable"
	     size = "sm"
	     align= "left"
    ></b-pagination>

    <b-table striped hover caption-top
	  id = "htable"
	  sort-by =  "ID"
	  sort-desc = true
	  :per-page = "perPage"
	  :current-page = "currentPage"
	  small
          label="Table Options"
          :items= allData
          :fields="[
            {
              key: 'select',
              label: '明細',
            },
            {
              key: 'ID',
              label: 'ID',
	      sortable: true
            },
            {
              key: '納品日',
              label: '納品日',
	      sortable: true
            },
            {
              key: '納品先',
              label: '納品先',
	      sortable: true
            },
            {
              key: '担当者',
              label: '担当者',
	      sortable: true
            },
            {
              key: '摘要',
              label: '摘要'
            },
            {
              key: 'control',
              label: '操作'
            },

          ]"
    >
      <template v-slot:table-caption>
	 納品一覧
	 <div class="text-left">
             <input type="button" class="btn btn-success btn-sm" @click="openModel" value="新規" aligin="right"/>
         </div>
      </template>
      <template v-slot:cell(select)="data">
         <button type="button" name="detail" class="btn btn-primary btn-sm edit" v-on:click="selDetail(`${data.item.ID}`)" >明細</button>
      </template>

      <template v-slot:cell(control)="data">
         <button type="button" name="edit" class="btn btn-primary btn-sm edit" v-on:click="fetchData(`${data.item.ID}`)" >編集</button>
         <button type="button" name="delete" class="btn btn-danger btn-sm delete" v-on:click="deleteData(`${data.item.ID}`)">削除</button>
      </template>
    </b-table>
 </div>
 </template>

 <div v-if="myModel">
    <transition name="model">
     <div class="modal-mask">
      <div class="modal-wrapper">
       <div class="modal-dialog">
        <div class="modal-content">
         <div class="modal-header">
          <h4 class="modal-title">{{ dynamicTitle }}</h4>
          <button type="button" class="close" @click="myModel=false"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
          <div class="form-group">
           <label>納品日</label>
           <input type="text" class="form-control" v-model="納品日" />
          </div>
          <div class="form-group">
           <label>納品先</label>
           <input type="text" class="form-control" v-model="納品先" />
          </div>
          <div class="form-group">
           <label>担当者</label>
           <input type="text" class="form-control" v-model="担当者" />
          </div>
          <div class="form-group">
           <label>摘要</label>
           <input type="text" class="form-control" v-model="摘要" />
          </div>
          <br />
          <div align="center">
           <input type="hidden" v-model="hiddenId" />
           <input type="button" class="btn btn-success btn-xs" v-model="actionButton" @click="submitData" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </transition>
  </div> <!--End Modal --> 
</div>

<!---------納品明細------>
<div class="container-fluid" id="crudApp2">
 <h5>{{sum}}</h5>

 <template>
 <!--input type="text" class="form-control" v-model="txtDebug" / --> 
 <div class="overflow-auto" >
    <b-table striped hover caption-top
	  id = "htable"
	  sort-by =  "ID"
	  small
          label="Table Options"
          :items= allData
          :fields="[
            {
              key: 'ID',
              label: 'ID',
	      sortable: true
            },
            {
              key: '納品ID',
              label: '納品ID',
	      sortable: true
            },
            {
              key: '商品名',
              label: '商品名',
	      sortable: true
            },
            {
              key: '商品ロット',
              label: '商品ロット',
	      sortable: true
            },
            {
              key: '数量',
              label: '数量'
            },
            {
              key: '単価',
              label: '単価'
            },
            {
              key: 'price',
              label: '金額'
            },
            {
              key: 'control',
              label: '操作'
            },

          ]"
    >
      <template v-slot:table-caption>
	 納品一覧
	 <div class="text-left">
             <input type="button" class="btn btn-success btn-sm" @click="openModel" value="新規" aligin="right"/>
	     <a class="btn btn-primary btn-sm" href="/print/nouhin" role="button">納品書印刷</a>
         </div>
      </template>
      <template #cell(price)="data">
         {{data.item.数量 * data.item.単価}}
      </template>
      <template v-slot:cell(control)="data">
         <button type="button" name="edit" class="btn btn-primary btn-sm edit" v-on:click="fetchData(`${data.item.ID}`)" >編集</button>
         <button type="button" name="delete" class="btn btn-danger btn-sm delete" v-on:click="deleteData(`${data.item.ID}`)">削除</button>
      </template>
    </b-table>
 </div>
 </template>

 <div v-if="myModel">
    <transition name="model">
     <div class="modal-mask">
      <div class="modal-wrapper">
       <div class="modal-dialog">
        <div class="modal-content">
         <div class="modal-header">
          <h4 class="modal-title">{{ dynamicTitle }}</h4>
          <button type="button" class="close" @click="myModel=false"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
          <div class="form-group">
           <label>商品名</label>
           <input type="text" class="form-control" v-model="商品名" />
          </div>
          <div class="form-group">
           <label>商品ロット</label>
           <input type="text" class="form-control" v-model="商品ロット" />
          </div>
          <div class="form-group">
           <label>数量</label>
           <input type="text" class="form-control" v-model="数量" />
          </div>
          <div class="form-group">
           <label>単価</label>
           <input type="text" class="form-control" v-model="単価" />
          </div>
          <br />
          <br />
          <div align="center">
           <input type="hidden" v-model="hiddenId" />
           <input type="hidden" v-model="hidden納品Id" />
           <input type="button" class="btn btn-success btn-xs" v-model="actionButton" @click="submitData" />
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </transition>
  </div> <!--End Modal --> 
</div>


</body>
</html>

<script>

var app = new Vue({
 el:'#crudApp',
// props:{
//   allData:{ type: Array },
// }
// ,
 data:{
  allData : [],
  myModel:false,
  actionButton:'Insert',
  dynamicTitle:'Add Data',
  perPage: 2,
  currentPage: 1
 },
 methods:{
//  debug:function(id){
//	app2.txtDebug = id;
//  },
  fetchAllData:function(){
   axios.get('/api/納品', {
    action:'fetchall'
   }).then(function(response){
    app.allData = response.data;
   });
  },
  openModel:function(){
   app.納品日 = '';
   app.納品先 = '';
   app.担当者 = ''; 
   app.摘要 = '';
   app.hiddenId = '';
   app.actionButton = "Insert";
   app.dynamicTitle = "Add Data";
   app.myModel = true;
  },
  submitData:function(){
   if(app.納品日 != '' && app.納品先 != '')
   {
    if(app.actionButton == 'Insert')
    {
     axios.post('/api/納品', {
         納品日:app.納品日, 
         納品先:app.納品先, 
         担当者:app.担当者, 
         摘要:app.摘要 
     }).then(function(response){
      app.myModel = false;
      app.fetchAllData();
      app.納品日 = '';
      app.納品先 = '';
      app.担当者 = ''; 
      app.摘要 = '';
      //alert(response.data.message);
     });
    }
    if(app.actionButton == 'Update')
    {
     axios.put('/api/納品', {
	 ID : app.hiddenId,
         納品日:app.納品日, 
         納品先:app.納品先, 
         担当者:app.担当者, 
         摘要:app.摘要 
     }).then(function(response){
      app.myModel = false;
      app.fetchAllData();
      app.納品日 = '';
      app.納品先 = '';
      app.担当者 = ''; 
      app.摘要 = '';
      app.hiddenId = '';
      //alert(response.data.message);
     });
    }
   }
   else
   {
    alert("Fill All Field");
   }
  },
  fetchData:function(id){
   axios.get('/api/納品/'+id, {
    ID:id
   }).then(function(response){
    app.hiddenId = response.data.ID;
    app.納品日 = response.data.納品日;
    app.納品先 = response.data.納品先;
    app.担当者 = response.data.担当者;
    app.摘要 = response.data.摘要;
    app.myModel = true;
    app.actionButton = 'Update';
    app.dynamicTitle = 'Edit Data';
   });
  },
  deleteData:function(id){
   if(confirm("Are you sure you want to remove this data?"))
   {
    axios.delete('/api/納品/'+id, {
     ID:id
    }).then(function(response){
     app.fetchAllData();
     alert(response.data.message);
    });
   }
  },
  selDetail:function(id){
//   axios.get('/api/納品/'+id, {
//    ID:id
//   }).then(function(response){
//    app.hiddenId = response.data.ID;
//    app.納品日 = response.data.納品日;
//    app.納品先 = response.data.納品先;
//    app.担当者 = response.data.担当者;
//    app.摘要 = response.data.摘要;
//   });
    app2.fetchAllData_byID(id);
  }
 },
 created:function(){
  this.fetchAllData();
 },
 computed:{
   rows(){
     return this.allData.length
     //return 5
   },
 },
});

var app2 = new Vue({
 el:'#crudApp2',
 props:{
   allData:{ type: Array },
 }
 ,
 data:{
  myModel:false,
  actionButton:'Insert',
  dynamicTitle:'Add Data',
  selId :'',
 },
 methods:{
  fetchAllData:function(){
   axios.get('/api/納品明細', {
    action:'fetchall'
   }).then(function(response){
    app2.allData = response.data;
   });
  },
  fetchAllData_byID:function(id){
   axios.get('/api/納品明細/納品ID/'+id, {
    action:'fetchall'
   }).then(function(response){
    app2.allData = response.data;
    app2.selId = id;
   });
  },
  openModel:function(){
   app2.商品名 = '';
   app2.商品ロット = '';
   app2.数量 = ''; 
   app2.単価 = '';
   app2.hiddenId = '';
   app2.hidden納品Id = app2.selId;
   app2.actionButton = "Insert";
   app2.dynamicTitle = "Add Data";
   app2.myModel = true;
  },
  submitData:function(){
   if(app2.商品名 != '')
   {
    if(app2.actionButton == 'Insert')
    {
     axios.post('/api/納品明細', {
         納品ID:app2.selId, 
         商品名:app2.商品名, 
         商品ロット:app2.商品ロット, 
         数量:app2.数量, 
         単価:app2.単価 
     }).then(function(response){
      app2.myModel = false;
      app2.fetchAllData_byID(app2.selId);
      app2.商品名 = '';
      app2.商品ロット = '';
      app2.数量 = ''; 
      app2.単価 = '';
      //alert(response.data.message);
     });
    }
    if(app2.actionButton == 'Update')
    {
     axios.put('/api/納品明細', {
	 ID : app2.hiddenId,
         納品ID:app2.selId,
         商品名:app2.商品名, 
         商品ロット:app2.商品ロット, 
         数量:app2.数量, 
         単価:app2.単価 
     }).then(function(response){
      app2.myModel = false;
      app2.fetchAllData_byID(app2.selId);
      app2.納品ID = '';
      app2.商品名 = '';
      app2.商品ロット = '';
      app2.数量 = ''; 
      app2.単価 = '';
      app2.hiddenId = '';
      //alert(response.data.message);
     });
    }
   }
   else
   {
    alert("Fill All Field");
   }
  },
  fetchData:function(id){
   axios.get('/api/納品明細/'+id, {
    ID:id
   }).then(function(response){
    app2.hiddenId = response.data.ID;
    app2.hidden納品Id = response.data.納品ID;
    app2.商品名 = response.data.商品名;
    app2.商品ロット = response.data.商品ロット;
    app2.数量 = response.data.数量;
    app2.単価 = response.data.単価;
    app2.myModel = true;
    app2.actionButton = 'Update';
    app2.dynamicTitle = 'Edit Data';
   });
  },
  deleteData:function(id){
   if(confirm("Are you sure you want to remove this data?"))
   {
    axios.delete('/api/納品明細/'+id, {
     ID:id
    }).then(function(response){
     app2.fetchAllData_byID(app2.selId);
     //alert(response.data.message);
    });
   }
  }
 },
 computed:{
     sum: function(){
       if ( typeof(this.allData) == 'undefined' ){ return 0 }
       return this.allData.map(item => item.数量*item.単価).reduce(function(a,b){return a+b},0);
     },
 },
 created:function(){
//  this.fetchAllData();
//    app2.nouhinSaki = '';
 },
});

</script>

